
<!--<div ng-repeat="brews in beer">
    <ul>
        <li><input type='checkbox' name='beer'>{{brews.name}}</li>
    </ul>
    
</div>
<div ng-repeat="gins in gin">
    <ul>
        <li><input type='checkbox' name='gin'>{{gins.name}}</li>
    </ul>
    
</div>
<div ng-repeat="rums in rum">
    <ul>
        <li><input type='checkbox' name='rum'>{{rums.name}}</li>
    </ul>

</div>
<div ng-repeat="tequilas in tequila">
    <ul>
        <li><input type='checkbox' name='tequila'>{{tequilas.name}}</li>
    </ul>
</div>
<div ng-repeat="vodkas in vodka">
    <ul>
        <li><input type='checkbox' name='vodka'>{{vodkas.name}}</li>
    </ul>
</div>
<div ng-repeat="whiskeys in whiskey">
    <ul>
        <li><input type='checkbox' name='whiskey'>{{whiskeys.name}}</li>
    </ul>
</div>-->